<%= render "header" %>
<div class="main">
    <div class="main-content">
      <% if user_signed_in? %>
        <div class="graph">
          <h1>あなたのPFCバランス</h1>
          <canvas id="myChart" width="200" height="150"></canvas>
          <script>draw_graph();</script>
          <%= link_to "PFCバランスとは？", "/" %>
        </div>
      <% else %>
        <div class="main-content">
          <h2>本気で痩せる人のための食事管理アプリ</h2>
        </div>
      <% end %>
    </div>
</div>