<div class="main-content">
  <% if user_signed_in? %>
    <div class="graph">
      <% if @fdata.present? %>
        <h1>あなたのPFCバランス</h1>
        <%= pie_chart @fdata, width: "500px", height: "150px" %>
        <%= link_to "PFCバランスとは？", "https://rariowa.com", class: 'blog-link' %>
      <% end %>
    </div>
    <div class="weight-graph">
      <h1>体重推移</h1>
      <%= line_chart @weights, width: "500px", height: "150px" %>
    </div>
  <% else %>
    <div class="main-content">
      <h2>本気で痩せる人のための食事管理アプリ</h2>
    </div>
  <% end %>
</div>
