<%= render "header" %>
<div class="main">
    <div class="main-content">
      <% if user_signed_in? %>
        <div class="graph">
          <h1>あなたのPFCバランス</h1>
          <%= pie_chart @data, width: "300px", height: "150px" %>
          <%= link_to "PFCバランスとは？", "https://rariowa.com" %>
        </div>
      <% else %>
        <div class="main-content">
          <h2>本気で痩せる人のための食事管理アプリ</h2>
        </div>
      <% end %>
    </div>
</div>