*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.post:hover {
  background: #29292960;
}

.dropdwn{
  background: #8f8e8e60;
  padding: 0 15px;
}


header{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid;
  background: #fff;
  position: fixed;
  display: flex;
  z-index: 3000;
  .title{
    font-size: 35px;
    width: 250px;
    height: 59px;
  }
  .head-contents{
    display: flex;
    margin-left: 150px;
    height: 60px;
    .post {
      margin-left: 10px;
    }
    span {
      border-left: 2px solid;
      height: 59px;
      line-height: 59px;
      padding: 0 15px 0 15px;
      max-width: 112px;
    }
    .post {
      margin-left: 10px;
      .dropdwn{
        margin: 0 -17px;
        background: #29292960;
        li{
          display: list-item;
        }
      }
    }
    .user-show{
      border-right: 2px solid;
    }
  }
  .header-right{
    float: right;
    margin-right: 30px;
    height: 60px;
    width: 200px;
    a{
      line-height: 59px;
      font-size: 15px;
      margin-left: 20px;
    }
  }
}

.breadcrumbs{
  background-color: rgb(240, 238, 238);
  border-bottom: 1px solid;
}

.main {
  height: 800px;
  width: 100%;
  padding-top: 60px;
  overflow: hidden;
  background-image: url("/images/fruite.jpg");
  background-size: cover;
  .main-content{
    .graph{
      margin: 100px 0 0 10px;
      width: 500px;
      h1{
        padding-left: 100px;
      }
      .blog-link{
        padding-left: 100px;
      }
    }
  }
  }