.main-content {
  .eat-content {
    @include pc {
      margin-top: 100px;
      display: flex;
    }
    @include tab {
      margin-top: 50px;
    }
    .eat-record {
      padding: 10px 10px;
      background-color: darkseagreen;
      opacity: 0.8;
      @include pc {
        margin: 0 0 20px 20px;
      }
      @include tab {
        max-width: 350px;
        margin: 0 20px 20px 20px;
      }
      h2 {}
      .display {
        .nutrients{
          margin-top: 10px;
        }
        .food-menu {
          margin-top: 10px;
          border-top: 1px dotted;
          .ate {
            border: 1px #f5f5f5;
            border-radius: 10px;
            background-color: #f5f5f5;
            max-width: 300px;
          }
        }
      }
    }
  }
}