.main-content {
  .eat-content {
    margin-top: 100px;
    .eat-record {
      padding: 10px 10px;
      display: inline-block;
      background-color: darkseagreen;
      opacity: 0.8;
      margin-left: 20px;
    }
  }
}